body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.page-wraper{
    width: 375px;
    height: 650px;
    margin: auto;
    background-color: hsl(225, 100%, 94%);
    position: relative;
}
.page-wraper .img1{
    display: block;
    width: 375px;
}
.page-wraper .img2{
    display: none;
}
svg {
    width: 100%;
}
.content {
    position: absolute;
    top: 30px;
    left: 17px;
    width: 340px;
    height: 600px;
    border-radius: 20px;
    background-color: white;
    background-image: url(illustration-hero.svg);
    background-size: 340px 200px;
    background-repeat: no-repeat;
}
.header{
    text-align: center;
    font-family: 'Red Hat Display',sans-serif;
    margin: 240px 0 20px     0;
    font-size: 20px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
.para {
    text-align: center;
    font-family: 'Red Hat Display',sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: hsl(224, 23%, 55%);
    padding: 5px 35px 5px 35px;
}
.annual-plan{
    border-radius: 10px;
    margin: 20px;
    background-color: hsl(225, 100%, 98%);
    width: 300px;
    height: 80px;
    font-size: 16px;
}
.annual-plan svg{
    position: absolute;
    left: 40px;
    padding-top: 15px;
}
.annual-plan h5 {
    color: hsl(223, 47%, 23%);
    font-size: 16px;
    font-weight: 700;
    font-family: 'Red Hat Display',sans-serif;
    position: absolute;
    left: 110px;
    padding-top: 22px;
    
       
}
.price {
    position: absolute;
    left: 110px;
    padding-top: 42px;
    font-family: 'Red Hat Display',sans-serif;
    color: hsl(224, 23%, 55%);
}
.annual-plan a {
    position: absolute;
    right: 40px;
    padding-top: 32px;
    font-family: 'Red Hat Display',sans-serif;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}
.annual-plan a:active {
    color: hsl(245, 97%, 75%);
}
button{
    text-align: center;
    width: 300px;
    padding: 18px 55px 18px 55px;
    border-radius: 10px;
    border: 0px;
    margin: 0 20px;
    background-color: hsl(245, 75%, 52%);
    color: hsl(0, 0%, 100%);
    font-weight: 700; 
    font-family: 'Red Hat Display',sans-serif; 
    box-shadow: 0px 10px 20px 5px hsla(246, 77%, 86%, 0.8);  
}
button:active {
    background-color: hsl(245, 97%, 75%);
}
.cancel {
    font-family: 'Red Hat Display',sans-serif;
    font-size: 15px;
    padding-top: 25px;
    text-align: center;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}
.cancel:active {
    color: hsl(223, 47%, 23%);
}


@media( min-width:1440px) {
    .page{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .page-wraper {
        width: 1440px;
        height: 900px;
        
    }
    .page-wraper .img1{
        display: none;
        }
    .page-wraper .img2{
        display: block;
        width: 1440px;
        height: 100vh;
    }
    svg {
        width: 100%;
    }
    .content {
        position: absolute;
        left: 500px;
        top: 150px;
        right: 500px;
        bottom: 150px;
        width: 400px;
        background-image: url(illustration-hero.svg);
        background-size: 400px 200px;
        background-repeat: no-repeat;
    
    }
    .para {
        padding: 5px 25px 5px 25px;
        margin: 0px;
    }
    .annual-plan{
        width: 350px;
        
    }
    button{
        width: 350px;
        margin: 0 25px;
    }
    .annual-plan a:active {
        color: hsl(245, 97%, 75%);
    }
    button:active {
        background-color: hsl(245, 97%, 75%);
    }
    .cancel:active {
        color: hsl(223, 47%, 23%);
    }

    }
